# node modules in UI-frontend service:
/services/ui-frontend/node_modules
/services/test-service/node_modules
/services/test-service/config.json
/services/test-service/build/config.json
/services/clastic-gateway/node_modules