.save-bttn{
    height: 56px;
    width: 110px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: #2B46CF;
    border-radius: 5px;
    border: 2px solid #2B46CF;
    cursor: pointer;
}
.save-bttn:hover{
    background-color: #2137A3;
    color:white
}
.save-bttn:active{
    background-color: transparent;
    border: 2px solid #2137A3;
    color:#3f3f3f;
}