.form-frame{
    grid-column: 2 / span 1;
}
h1{
    font-size: 1.953rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #3f3f3f;
}
label,p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: regular;
    color: #3f3f3f;
}
.inputbox{
    height: 32px;
    width: 428px;
    border: 2px solid #848484;
    border-radius: 1px;
    margin-top: 8px;
}

input[type="text"]
{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #3f3f3f;
}

.date-range{
    display: flex;
    flex-direction: row;
}

.date-range p{
    margin-bottom: 8px;
    margin-top: 0;
}

.bttn-wrapper{
    display: flex;
    margin-top: 84px;
}

.bttn-attr{
    display: flex;
    height: 56px;
    width: 110px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #2B46CF;
    border-radius: 5px;
    border: 2px solid #2B46CF;
    cursor: pointer;
}

.bttn-attr:hover{
    background-color: white;
    color:#3f3f3f
}

