@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
.error-container{
    grid-area: err-cntr;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
}
#main-header{
    color: #ffffff;
    font-size: 2.6vw;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}
#caption{
    color: #ffffff;
    font-size: 1.5vw;
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
}
.error-container{
    grid-area: err-cntr;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.construction-page{
    background-color: #2b46cf;
    position: absolute;
    display: grid;
    grid-template-rows: 25% auto 25%;
    grid-template-columns: 20% auto 20%;
    grid-template-areas:
     ". . ."
     ". err-cntr ."
     ". . .";
    height: 1000px;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 1000px;
}
