@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
    --onxy: #3f3f3f;
    --gray: #848484;
}
.breadcrumb-wrapper{
    height: 152px;
}
.form-page1-wrapper{
    display: grid;
    grid-template-columns: auto 430px auto;
    height: 100%;
}
