@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/*=== Entire Parent frame ===*/
.parent-frame{
    display: grid;
    grid-template-columns: auto 430px auto;
    height: 100%;
}
/*=== Child frame ===*/
.child-frame{
    grid-column: 2 / span 1;
}