#aside{
    grid-area: as;
    border: 1px solid black;
    background-color: aquamarine;
}
#maintext{
    grid-area: mt;
}

#container{
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: "as mt";
}

/* Fonts used: Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

/* Contains the left component*/
#visual-subcontainer{
    grid-area: aside;
    background-color: #3d5af1;
    width: 100%;
}

/*Holds both the visual-container 
and the login-register-container*/
#top-container{
    position: absolute;
    min-height: 900px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "aside log";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.login-text-container{
    grid-area: log;
    display: flex;
    align-items:center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.login-text-container p{
    color: #303a52;
    font-size: 5vw;
    line-height: 8vh;
}
#tagline{
    font-family: 'Nunito', sans-serif;
    grid-area: tag;
    margin: 0;
    padding: 0;
}
#tagline p{
    color:#303a52;
    font-size: 1.5vw;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    margin: 0;
    line-height: 19px;
    font-weight: 300;
}

#email{
    grid-area:emailBlock;
    font-family: 'Nunito', sans-serif;
    display:flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #303a52;
}


#loginField{
    grid-area:loginfield;

}

#password{
    grid-area:passwordBlock;
    display:flex;
    font-family: 'Nunito', sans-serif;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #303a52;
}

#passwordField{
    grid-area:passwordfield;
    
}


#remember{
    font-family: 'Nunito', sans-serif;
    grid-area:rem;
    align-self: start;
    font-weight: 300;
    font-size: 1.3vw;
    color: #303a52;
}
#forgot{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    grid-area:for;
    align-self: start;
    justify-self: end;
    font-size: 1.3vw;
    color: #3d5af1
}

#end{
    grid-area:end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". ."
    "rem for"
    ". .";
}

#Sign-in-Button{
    grid-area:signin;
    display: grid;
    justify-self: stretch;

}
#Signin{
    border: none;
    border-radius: 10px;
    background-color: #3d5af1;
    color:#ebf4f5
}
#registerbutton{
    grid-area:registerBttn;
    display: grid;
    justify-self: center;
}
.hyperlinkbttn{
    border:none;
    background:none;
}

.form-container{
    grid-area: formblock;
    display:grid;
    grid-template-rows: 20% 9% 8% 12% 5% 12% 10% 10% 14%;
    row-gap: 0px;
    grid-template-areas:
    "log"
    "tag"
    "emailBlock"
    "loginfield"
    "passwordBlock"
    "passwordfield"
    "."
    "."
    ".";
}

.log-register-area{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". formblock .";
    grid-area: loginForm;
}


/* Contains the right component*/
#login-registration-subcontainer{
    grid-area: log;
    background-color: #ebf4f5;
    display: grid;
    height: 100%;
    grid-template-rows: auto 520px auto;
    grid-template-areas: 
    "." 
    "loginForm" 
    ".";
}

@media only screen and (max-width:900px){
    #top-container{
        min-height: 700px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "log";
    }
    #visual-container{
        background-color: #ebf4f5;;
    }
    #login-register-container{
        background-color: #ebf4f5;
    }
    .login-text-container p{
        color: #303a52;;
        font-size: 10vw;
    }
    .log-register-area{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: ". formblock .";
        grid-area: loginForm;
    }
    #tagline p{
        font-size: 3.5vw;
    }
    

}