.dot{
    height: 48px;
    width: 48px;
    border: 3px solid #2B46CF;
    border-radius: 100%;
    fill: #2B46CF;
}

.breadCrumbs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.line{
    height: 0px;
    width: 113px;;
}